# C++ objects and libs

*.slo
*.lo
*.o
*.la
*.lai
*.so
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
./libs/WKEFactoryView2014.exe
./libs/*

libs

# QtCreator

*.autosave


wk.ico merge=ours
./recFile/Icons/wk.ico merge=ours
./recFile/Icons/splashScreen.png merge=ours
./setup/mySetupV1.1.iss merge=ours
